@mixin mobile {
    @media only screen and (max-width: 375px) {
        @content;
    }
}

.root {
    display: flex;
    padding: 12px;
    margin-bottom: 12px;
    align-items: center;

    @include mobile {
        flex-wrap: wrap;
        align-items: baseline;
    }
}

.count {
    white-space: nowrap;
    margin-right: 12px;
    font-size: 24px;

    @include mobile {
        width: 100%;
        margin-right: 0;
        margin-bottom: 12px;
    }
}

.size {
    white-space: nowrap;
    margin-left: auto;

    @include mobile {
        width: 100%;
    }
}
